/* No files to import found in abstractions/**\/* */
img, media {
  max-width: 100%; }

.messages {
  display: none; }

#block-user-login {
  display: none; }

body.developer .l-header .l-region,
body.developer .l-footer .l-region,
body.developer .l-content-center,
body.developer .l-nav-sidebar,
body.developer .l-content-wrapper,
body.developer .l-region--featured,
body.developer .l-content,
body.developer .l-region--above-content,
body.developer .l-region--below-content,
body.developer .l-promo-sidebar,
body.developer .l-region--content-left,
body.developer .l-region--content-right {
  background: white;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #444444;
  margin-bottom: 10px; }
body.developer #block-user-login {
  display: block; }

.l-header,
.l-header .l-region,
.l-footer .l-region,
.l-content-center,
.l-nav-sidebar,
.l-content-wrapper,
.l-region--featured,
.l-content,
.l-region--above-content,
.l-region--below-content,
.l-promo-sidebar,
.l-region--content-left,
.l-region--content-right {
  display: block;
  float: left;
  background: white;
  box-sizing: border-box;
  width: 100%; }

.l-region {
  position: relative; }

/*tweak so we can see info block for these regions*/
#block-bean-promo-sidebar-region .seemore {
  right: 0;
  left: auto; }

/*don't need to see these for display purposes*/
.messages {
  display: none; }

/*it's somehow getting a width...*/
.element-invisible {
  max-width: 1px; }

/*all beans, need to figure out the best way to add a type class to the bean wrapper*/
.l-region:hover .block.block--bean .block__title {
  color: #7100ff; }
.l-region:hover .block.block--bean .bean-ia-theme-information .regiontoggle {
  color: #7100ff; }

.block {
  display: block;
  float: left;
  width: 100%; }

form label {
  display: block;
  float: left;
  width: 100%;
  width: 30%; }
form input {
  display: block;
  float: left;
  width: 100%;
  width: 70%; }

body.front .l-page .l-main #content {
  display: block;
  float: left;
  position: relative;
  width: 100%; }
  body.front .l-page .l-main #content h1 {
    position: absolute;
    left: 20px;
    top: -40px;
    z-index: 99; }
  body.front .l-page .l-main #content > ul {
    margin: 0; }

body.page-node-73 .l-region .block.block--bean .block__title,
body.front .l-region .block.block--bean .block__title {
  display: none; }

.bean-button-promo-1 .field__item a {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  border: 4px solid #555;
  background: #666;
  color: #ccc;
  line-height: 42px;
  border-radius: 8px;
  text-decoration: none; }

body.longscrollv2 .l-region--content-header,
body.longscrollv2 .l-region--content-footer {
  background: white; }
body.longscrollv2 .l-content-header-meta {
  display: block;
  float: left;
  width: 100%;
  z-index: 1;
  position: relative; }

.block.block--bean {
  display: block;
  float: left;
  width: 100%;
  padding: 5px;
  /*beans for the IA theme info*/
  /*promo pantry beans: video, text & links, button 1 */
  /*button 1 promo bean*/ }
  .block.block--bean .block__title {
    display: block;
    float: left;
    width: auto;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4); }
    .block.block--bean .block__title:before {
      content: ''; }
  .block.block--bean .bean-ia-theme-information {
    position: relative; }
    .block.block--bean .bean-ia-theme-information .regiontoggle {
      border: none;
      float: left;
      font-size: 14px;
      line-height: 20px;
      background: none;
      color: rgba(0, 0, 0, 0.2);
      outline: 0; }
    .block.block--bean .bean-ia-theme-information .seemore {
      display: none;
      float: right;
      width: 400px;
      position: absolute; }
      .block.block--bean .bean-ia-theme-information .seemore.open {
        display: block;
        background: white;
        z-index: 3;
        top: 25px;
        left: 0;
        border: 1px solid #444;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        max-width: calc(100vw - 20px); }
    .block.block--bean .bean-ia-theme-information .field {
      display: block;
      float: left;
      width: 100%;
      padding: 10px 0;
      border-top: 1px solid #ccc; }
      .block.block--bean .bean-ia-theme-information .field.field--name-field-content-examples {
        color: #666; }
  .block.block--bean .bean-billboard .billboard-image {
    display: block;
    width: 100%;
    float: left; }
    @media (min-width: 45em) {
      .block.block--bean .bean-billboard .billboard-image {
        width: 75%; } }
    .block.block--bean .bean-billboard .billboard-image img {
      width: 100%;
      height: auto; }
  .block.block--bean .bean-billboard .billboard-ctas {
    display: block;
    width: 100%;
    float: left; }
    @media (min-width: 45em) {
      .block.block--bean .bean-billboard .billboard-ctas {
        width: 25%; } }
    .block.block--bean .bean-billboard .billboard-ctas .field__items .field__item {
      display: block;
      float: left;
      width: 100%;
      margin-top: 30px; }
      .block.block--bean .bean-billboard .billboard-ctas .field__items .field__item a {
        display: block;
        width: 90%;
        margin: auto;
        color: #fff;
        background: #333;
        border: 1px solid #222;
        text-decoration: none;
        text-align: center;
        padding: 20px;
        border-radius: 8px; }
  .block.block--bean .bean-showcase {
    display: block;
    float: left;
    max-width: 100%;
    width: 100%; }
    .block.block--bean .bean-showcase .showcase-intro {
      display: block;
      float: left;
      width: 100%;
      padding: 0 10px; }
      @media (min-width: 45em) {
        .block.block--bean .bean-showcase .showcase-intro {
          width: 25%; } }
    .block.block--bean .bean-showcase .showcase-elements {
      display: block;
      float: left;
      width: 100%; }
      @media (min-width: 45em) {
        .block.block--bean .bean-showcase .showcase-elements {
          width: 75%; } }
      .block.block--bean .bean-showcase .showcase-elements .field__item {
        display: block;
        float: left;
        width: 100%; }
        .block.block--bean .bean-showcase .showcase-elements .field__item .field--name-field-image-upload .field__items .field__item {
          display: none; }
          .block.block--bean .bean-showcase .showcase-elements .field__item .field--name-field-image-upload .field__items .field__item:first-child {
            display: block; }
        .block.block--bean .bean-showcase .showcase-elements .field__item img {
          display: block;
          float: left;
          width: 100%; }
        .block.block--bean .bean-showcase .showcase-elements .field__item iframe {
          max-width: 100%; }
        .block.block--bean .bean-showcase .showcase-elements .field__item .field--name-field-image-upload .field__item,
        .block.block--bean .bean-showcase .showcase-elements .field__item .field--name-field-caption .field__item {
          width: 100%;
          padding: 5px;
          box-sizing: border-box; }
      .block.block--bean .bean-showcase .showcase-elements.one .field__item {
        width: 100%; }
      .block.block--bean .bean-showcase .showcase-elements.two .field__item {
        width: 50%; }
      .block.block--bean .bean-showcase .showcase-elements.three .field__item {
        width: 33.3333%; }
  .block.block--bean .bean-text-and-links-promo .promo-image {
    display: block;
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; }
    @media (min-width: 45em) {
      .block.block--bean .bean-text-and-links-promo .promo-image {
        max-width: 70%;
        width: auto; } }
  .block.block--bean .bean-text-and-links-promo .promo-content-container {
    display: block;
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; }
    @media (min-width: 45em) {
      .block.block--bean .bean-text-and-links-promo .promo-content-container {
        max-width: 30%;
        width: auto; } }
  .block.block--bean .bean-text-and-links-promo.noimg .promo-content-container {
    width: 100%;
    max-width: initial; }
    .block.block--bean .bean-text-and-links-promo.noimg .promo-content-container .field--name-field-list-of-links {
      display: block;
      float: left;
      width: 100%; }
  .block.block--bean .bean-text-and-links-promo .field--name-field-list-of-links .field__item a {
    display: block;
    width: 90%;
    margin: 5px auto;
    color: #fff;
    background: #333;
    border: 1px solid #222;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 8px; }
  .block.block--bean.block--bean-promo-pantry-video-promo, .block.block--bean.block--bean-promo-pantry-text-and-links-pr {
    max-width: 400px;
    margin: 0 auto 15px auto;
    float: none;
    background: #eee;
    border-top: 5px solid #713D8B;
    color: #444;
    /*text & links promo bean*/
    /*video promo bean*/ }
    .block.block--bean.block--bean-promo-pantry-video-promo .block__title, .block.block--bean.block--bean-promo-pantry-text-and-links-pr .block__title {
      display: block;
      float: left;
      width: 100%;
      padding: 0 10px;
      font-size: 18px;
      font-weight: bold;
      color: #444 !important;
      text-transform: uppercase; }
      .block.block--bean.block--bean-promo-pantry-video-promo .block__title:hover, .block.block--bean.block--bean-promo-pantry-text-and-links-pr .block__title:hover {
        color: #444; }
    .block.block--bean.block--bean-promo-pantry-video-promo .field--name-field-intro-text,
    .block.block--bean.block--bean-promo-pantry-video-promo .field--name-field-footer-text, .block.block--bean.block--bean-promo-pantry-text-and-links-pr .field--name-field-intro-text,
    .block.block--bean.block--bean-promo-pantry-text-and-links-pr .field--name-field-footer-text {
      padding: 10px; }
    .block.block--bean.block--bean-promo-pantry-video-promo .field--name-field-list-of-links .field__item, .block.block--bean.block--bean-promo-pantry-text-and-links-pr .field--name-field-list-of-links .field__item {
      padding: 0 15px;
      color: #005c35;
      font-weight: bold; }
      .block.block--bean.block--bean-promo-pantry-video-promo .field--name-field-list-of-links .field__item:before, .block.block--bean.block--bean-promo-pantry-text-and-links-pr .field--name-field-list-of-links .field__item:before {
        content: "\f054";
        font-family: FontAwesome;
        font-size: 8px;
        padding-right: 5px; }
      .block.block--bean.block--bean-promo-pantry-video-promo .field--name-field-list-of-links .field__item a, .block.block--bean.block--bean-promo-pantry-text-and-links-pr .field--name-field-list-of-links .field__item a {
        color: #005c35;
        text-decoration: none; }
    .block.block--bean.block--bean-promo-pantry-video-promo .field--name-field-video-embed .embedded-video iframe, .block.block--bean.block--bean-promo-pantry-text-and-links-pr .field--name-field-video-embed .embedded-video iframe {
      display: block;
      float: left;
      width: 100%;
      height: auto;
      min-height: 220px;
      margin: 5px 0 0 0; }
    .block.block--bean.block--bean-promo-pantry-video-promo .field--name-field-promo-text, .block.block--bean.block--bean-promo-pantry-text-and-links-pr .field--name-field-promo-text {
      display: block;
      float: left;
      width: 100%;
      padding: 0 5px; }
  .block.block--bean.block--bean-promo-pantry-button-1 {
    max-width: 350px;
    margin: 0 auto;
    float: none; }
    .block.block--bean.block--bean-promo-pantry-button-1 .bean-button-promo-1 .content {
      display: block;
      float: left;
      width: 100%;
      height: auto;
      position: relative; }
      .block.block--bean.block--bean-promo-pantry-button-1 .bean-button-promo-1 .content:before {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        top: -2%;
        background: #e6ddbf;
        height: 52%;
        background: -webkit-linear-gradient(#dfd3ad, white); }
      .block.block--bean.block--bean-promo-pantry-button-1 .bean-button-promo-1 .content:after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        bottom: -2%;
        height: 52%;
        background: #b0a16e;
        z-index: 0; }
      .block.block--bean.block--bean-promo-pantry-button-1 .bean-button-promo-1 .content .field--name-field-button-link {
        display: block;
        float: left;
        width: 94%;
        text-align: center;
        vertical-align: middle;
        background: url(../dress/bk.png) #005e3f;
        box-shadow: inset 0 0 20px rgba(11, 11, 11, 0.4);
        position: relative;
        margin: 1.5% 3%;
        box-sizing: border-box;
        z-index: 1; }
        .block.block--bean.block--bean-promo-pantry-button-1 .bean-button-promo-1 .content .field--name-field-button-link a {
          text-decoration: none;
          text-align: center;
          width: 100%;
          display: block;
          float: left;
          color: #dfd3ad;
          font: 24px/24px "Impact W01 2010", "Arial Black", sans serif;
          text-transform: uppercase;
          background: -webkit-linear-gradient(#eeeeee, #b0a16e);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          padding: 10px;
          box-sizing: border-box; }

/* views blocks on sights and sounds home*/
#block-views-media-block-1 .block__content .view-content .views-row {
  display: block;
  float: left;
  width: 100%;
  width: 20%; }
  #block-views-media-block-1 .block__content .view-content .views-row .views-field-field-image-upload .field-content a {
    display: none; }
    #block-views-media-block-1 .block__content .view-content .views-row .views-field-field-image-upload .field-content a:first-child {
      display: block; }

#block-views-media-block-2 .block__content .view-content .views-row {
  display: block;
  float: left;
  width: 100%;
  width: 100%; }
  @media (min-width: 45em) {
    #block-views-media-block-2 .block__content .view-content .views-row {
      width: 50%; } }
  @media (min-width: 70em) {
    #block-views-media-block-2 .block__content .view-content .views-row {
      width: 33.3333%; } }

#block-views-media-block-3 .block__content .view-content .views-row {
  display: block;
  float: left;
  width: 100%;
  width: 50%; }
  #block-views-media-block-3 .block__content .view-content .views-row .views-field-field-video-url .player iframe {
    max-width: 100%;
    max-height: 34vw; }

.block--views-news-block-1 .view-news {
  position: relative; }
  .block--views-news-block-1 .view-news .views-field-title {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 100%; }
  .block--views-news-block-1 .view-news .views-field-field-news-image {
    display: block;
    float: left;
    width: 100%; }
    @media (min-width: 45em) {
      .block--views-news-block-1 .view-news .views-field-field-news-image {
        width: 60%; } }
    .block--views-news-block-1 .view-news .views-field-field-news-image img {
      width: 100%;
      height: auto; }
  .block--views-news-block-1 .view-news .views-field-created,
  .block--views-news-block-1 .view-news .views-field-body {
    display: block;
    float: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box; }
    @media (min-width: 45em) {
      .block--views-news-block-1 .view-news .views-field-created,
      .block--views-news-block-1 .view-news .views-field-body {
        width: 40%; } }

.block--views-events-block-1 {
  padding: 10px; }
  .block--views-events-block-1 .view-events .view-content {
    display: block;
    float: left;
    width: 100%; }
    .block--views-events-block-1 .view-events .view-content .views-row {
      display: block;
      float: left;
      width: 33.3333%;
      text-align: center; }
      .block--views-events-block-1 .view-events .view-content .views-row .views-field-field-event-date-1 {
        display: block;
        width: 60px;
        margin: auto; }
        @media (min-width: 45em) {
          .block--views-events-block-1 .view-events .view-content .views-row .views-field-field-event-date-1 {
            margin: 10px;
            float: left; } }
        .block--views-events-block-1 .view-events .view-content .views-row .views-field-field-event-date-1 .d-date {
          display: block;
          float: left;
          padding: 15px 10px;
          box-sizing: border-box;
          background: #555;
          color: white;
          border-radius: 5px; }
          .block--views-events-block-1 .view-events .view-content .views-row .views-field-field-event-date-1 .d-date .month {
            display: block;
            float: left;
            width: 100%;
            text-align: center;
            font-size: 20px; }
          .block--views-events-block-1 .view-events .view-content .views-row .views-field-field-event-date-1 .d-date .day {
            display: block;
            float: left;
            width: 100%;
            text-align: center;
            font-size: 14px; }
      .block--views-events-block-1 .view-events .view-content .views-row .views-field-field-event-date-2 {
        display: block;
        float: left;
        width: 100%;
        text-align: center; }
        @media (min-width: 45em) {
          .block--views-events-block-1 .view-events .view-content .views-row .views-field-field-event-date-2 {
            width: calc(100% - 80px);
            text-align: left;
            padding: 0 10px; } }
        .block--views-events-block-1 .view-events .view-content .views-row .views-field-field-event-date-2 .event-info {
          display: block; }

h1 {
  color: #444444;
  font: 500 30px/30px Arial;
  display: block;
  float: left;
  width: 100%;
  margin: 0; }
  h1:before {
    content: 'H1';
    color: blue;
    font-size: 15px;
    display: table-cell;
    vertical-align: top;
    float: left;
    font-weight: bold; }

h2 {
  font: 500 20px/20px Arial;
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 10px 0; }
  h2:before {
    content: 'H2';
    color: blue;
    font-size: 10px;
    display: table-cell;
    vertical-align: top;
    float: left;
    font-weight: bold; }

img {
  border: 1px solid #333;
  height: auto; }

.more-link {
  padding: 5px;
  float: right; }

.block__title {
  font: 500 20px/20px Arial;
  color: #444444; }

.block__content {
  font: 300 16px/16px Arial;
  color: #444444; }

.breadcrumbs {
  padding-left: 0; }
  .breadcrumbs .breadcrumb {
    list-style-type: none;
    padding: 0;
    display: block;
    float: left;
    padding: 5px; }
    .breadcrumbs .breadcrumb span {
      padding: 0;
      font-size: initial;
      line-height: 16px; }
  .breadcrumbs span {
    font-size: 9px;
    line-height: 16px;
    display: block;
    float: left;
    padding: 5px; }

#block-user-login {
  display: none;
  width: auto;
  position: absolute;
  right: 10px;
  background: white;
  z-index: 1; }
  #block-user-login h2.block__title {
    float: right;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    line-height: 14px; }
    #block-user-login h2.block__title:before {
      display: none !important; }
    #block-user-login h2.block__title:hover {
      background: #d5d5d5;
      color: black; }
  #block-user-login .block__content {
    display: none;
    position: absolute;
    width: 281px;
    background: white;
    top: 40px;
    right: 0;
    border: 1px solid #444444;
    border-radius: 5px;
    padding: 0 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); }
    #block-user-login .block__content form.user-login-form .form-item {
      display: block;
      width: 100%;
      height: 20px;
      margin: 5px 0; }
      #block-user-login .block__content form.user-login-form .form-item label {
        display: block;
        float: left;
        font-size: 12px;
        line-height: 20px; }
      #block-user-login .block__content form.user-login-form .form-item input {
        display: block;
        float: right;
        height: 20px; }
    #block-user-login .block__content form.user-login-form ul {
      display: none; }
    #block-user-login .block__content form.user-login-form #edit-actions {
      display: block;
      margin: 5px auto;
      width: 100%; }
      #block-user-login .block__content form.user-login-form #edit-actions input {
        width: 100%; }
    #block-user-login .block__content.open {
      display: block;
      z-index: 1; }

#block-bean-main-menu-toggle {
  display: block;
  float: left;
  width: calc(100% - 200px);
  padding: 0; }
  @media (min-width: 45em) {
    #block-bean-main-menu-toggle {
      display: none;
      width: auto; } }
  #block-bean-main-menu-toggle p {
    margin: 0; }
  #block-bean-main-menu-toggle button.menu-toggle {
    display: block;
    float: left;
    width: 100%;
    border: none;
    background: #d5d5d5;
    height: 100px;
    border-left: 1px solid #999; }
    #block-bean-main-menu-toggle button.menu-toggle:before {
      content: '\f0c9';
      font-family: FontAwesome;
      font-size: 18px;
      top: 1px;
      left: -4px;
      position: relative; }

/*site logo block*/
#block-block-16 {
  width: 200px;
  margin: auto;
  float: left; }
  #block-block-16 p {
    margin: 0; }

/*main menu block*/
.l-region--header-third #block-menu-block-1 {
  display: block;
  float: right;
  width: 100%; }
  @media (min-width: 45em) {
    .l-region--header-third #block-menu-block-1 {
      width: calc(100% - 200px); } }
  .l-region--header-third #block-menu-block-1 ul {
    display: block;
    float: left;
    width: 100%;
    list-style-type: none;
    padding: 0;
    height: 0px;
    overflow: hidden;
    -webkit-transition: all 1s;
    transition: all 1s; }
    @media (min-width: 45em) {
      .l-region--header-third #block-menu-block-1 ul {
        margin: 0 10px;
        height: 100px; } }
    .l-region--header-third #block-menu-block-1 ul li {
      display: block;
      float: left;
      width: 100%;
      text-align: center;
      height: 42px;
      border: 2px solid #444444;
      height: 42px; }
      @media (min-width: 45em) {
        .l-region--header-third #block-menu-block-1 ul li {
          margin: 29px 0; } }
      .l-region--header-third #block-menu-block-1 ul li.active-trail, .l-region--header-third #block-menu-block-1 ul li:hover {
        background: #e0e0e0; }
        .l-region--header-third #block-menu-block-1 ul li.active-trail a, .l-region--header-third #block-menu-block-1 ul li:hover a {
          color: #444444; }
      .l-region--header-third #block-menu-block-1 ul li a {
        padding: 0 10px;
        color: #444444;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: block;
        line-height: 42px;
        font-weight: bold; }
      @media (min-width: 45em) {
        .l-region--header-third #block-menu-block-1 ul li {
          width: auto; } }
.l-region--header-third.open #block-menu-block-1 ul {
  height: 215px; }
  @media (min-width: 45em) {
    .l-region--header-third.open #block-menu-block-1 ul {
      height: auto; } }

/*default subnav block*/
#block-menu-block-2 .menu-block-wrapper ul {
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  /*second level down*/ }
  #block-menu-block-2 .menu-block-wrapper ul li {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 2px; }
    #block-menu-block-2 .menu-block-wrapper ul li a {
      border: 2px solid #d5d5d5;
      background: #e0e0e0;
      color: #898989;
      padding: 10px;
      display: block;
      float: left;
      width: 100%;
      text-decoration: none; }
    #block-menu-block-2 .menu-block-wrapper ul li.active-trail > a {
      border: 2px solid #444444;
      background: white; }
    #block-menu-block-2 .menu-block-wrapper ul li:hover > a {
      background: #e0e0e0;
      color: #444444; }
  #block-menu-block-2 .menu-block-wrapper ul ul {
    margin-left: 10px;
    width: calc(100% - 10px);
    margin-top: 3px; }
    #block-menu-block-2 .menu-block-wrapper ul ul li a {
      border: 2px solid #d5d5d5;
      background: white;
      color: #898989; }
    #block-menu-block-2 .menu-block-wrapper ul ul li.active-trail.active > a {
      border: 2px solid #444444;
      color: #444444; }

#block-menu-block-4 {
  float: right;
  width: auto; }
  #block-menu-block-4 .menu-block-wrapper ul {
    margin: 0;
    padding: 0; }
    #block-menu-block-4 .menu-block-wrapper ul li {
      width: auto;
      display: block;
      float: left;
      margin: 10px 10px 10px 0;
      padding-right: 10px;
      border-right: 1px solid black; }
      #block-menu-block-4 .menu-block-wrapper ul li:last-child {
        border-right: none; }
      #block-menu-block-4 .menu-block-wrapper ul li a {
        padding: 0px;
        display: block;
        float: left;
        width: 100%;
        text-decoration: none; }

/*quicktabs block*/
.block {
  display: block;
  float: left;
  width: 100%; }
  .block.block--quicktabs ul.quicktabs-tabs {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0; }
    .block.block--quicktabs ul.quicktabs-tabs li a {
      display: block;
      float: left;
      border-top: 1px solid #444444;
      border-left: 1px solid #444444;
      border-right: 1px solid #444444;
      border-bottom: 1px solid #444444;
      padding: 10px;
      margin: 0 3px;
      border-radius: 5px 5px 0 0;
      background: #d5d5d5;
      text-decoration: none;
      position: relative;
      bottom: -1px; }
    .block.block--quicktabs ul.quicktabs-tabs li.active a {
      background: white;
      border-bottom: 1px solid transparent; }
  .block.block--quicktabs .quicktabs_main {
    display: block;
    float: left;
    width: 100%;
    padding: 10px;
    border: 1px solid #444444; }

html {
  background: #d5d5d5; }
  html body {
    max-width: 1600px;
    margin: 0 auto; }
    html body .l-page {
      overflow: hidden; }

#block-bean-footer-address,
#block-bean-footer-social {
  display: block;
  float: left;
  width: 100%; }
  @media (min-width: 45em) {
    #block-bean-footer-address,
    #block-bean-footer-social {
      width: 50%; } }

.print-buttons {
  position: fixed;
  left: -60px;
  z-index: 9999;
  background: #ff7e00;
  border: 2px solid #334477;
  padding-right: 16px;
  border-radius: 0 5px 5px 0;
  transition: all 1s;
  -webkit-transition: all 1s; }
  .print-buttons:after {
    content: '\f02f';
    font-family: FontAwesome;
    position: absolute;
    right: 2px;
    top: calc(50% - 8px);
    font-size: 16px;
    color: #f2f2f2;
    text-shadow: 0 0 10px #111; }
  .print-buttons.open {
    left: -2px;
    transition: all 1s;
    -webkit-transition: all 1s; }
  .print-buttons ul {
    margin: 0;
    list-style-type: none;
    width: 60px;
    padding: 0;
    display: block;
    float: left;
    padding: 5px 0; }
    .print-buttons ul li {
      padding: 5px;
      display: block;
      float: left;
      width: 100%; }
      .print-buttons ul li button {
        width: 40px;
        height: 40px;
        display: block;
        float: right;
        background: none;
        border: 2px solid #444;
        border-radius: 5px;
        outline: 0;
        padding: 0; }
        .print-buttons ul li button:before {
          font-size: 25px;
          line-height: 35px;
          font-family: FontAwesome; }
        .print-buttons ul li button.mobile:before {
          content: "\f10b"; }
        .print-buttons ul li button.tablet:before {
          content: "\f10a"; }
        .print-buttons ul li button.desktop:before {
          content: "\f108"; }
        .print-buttons ul li button:hover {
          background: rgba(255, 218, 187, 0.43); }

@page {
  margin: 0.2in; }

@media print {
  html body .printheader img {
    width: 30%;
    display: block;
    float: left; }
  html body .printheader .date {
    width: 30%;
    display: block;
    float: right;
    text-align: right; }
  html body .l-page .l-header .l-header-third {
    clear: both !important; }

  .print-buttons,
  .tabs--primary {
    display: none !important; }

  .block.block--bean {
    /*beans for the IA theme info*/ }
    .block.block--bean .block__title {
      display: block;
      float: left;
      width: auto; }
    .block.block--bean .bean-ia-theme-information {
      display: none; } }
