#admin-menu {
  z-index: 1002; }

header {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  z-index: 1001; }

footer {
  display: block;
  float: left;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  height: 0; }

div#content-region1 {
  background-color: #444444; }

div#content-region2 {
  background-color: #898989; }

div#content-region3 {
  background-color: #d5d5d5; }

div#content-region4 {
  background-color: #e0e0e0; }

div.content-region {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: block;
  -moz-box-shadow: 0 0 12px #666;
  -webkit-box-shadow: 0 0 12px #666;
  box-shadow: 0 0 12px #666;
  background: #f2f2f2;
  overflow: hidden;
  border: 5px solid #000; }

div.content-region .background {
  height: 100%;
  width: 100%;
  display: block; }

.l-footer .l-region--footer-first,
.l-footer .l-region--footer-second {
  width: 50%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0%;
  margin-top: 12px; }

@media print {
  div.content-region {
    display: block;
    float: left;
    width: 100%;
    position: relative !important; }

  header.l-header,
  div.l-main,
  footer.l-footer {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    height: auto; }

  .l-footer .l-region--footer-first,
  .l-footer .l-region--footer-second {
    top: initial; } }
