#content > ul {
  padding: 0; }
  #content > ul > li {
    min-height: 101vh;
    display: block;
    float: left;
    width: 100%; }

html body {
  max-width: 100%; }
  html body .l-header {
    margin-bottom: 10vw; }
  html body .l-page {
    display: block;
    float: left;
    width: 100%; }
    html body .l-page > header {
      display: block;
      float: left;
      width: 100%;
      z-index: 1;
      position: relative;
      background: #eee;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); }
  html body .l-main {
    display: block;
    float: left;
    width: 100%; }
    html body .l-main #content .breadcrumbs {
      padding: 10px 0; }
    html body .l-main #content ul li .l-region {
      min-height: 111vh;
      margin-bottom: 200px;
      height: auto;
      display: block;
      float: left;
      border-radius: 0;
      border: none;
      border-top: 5px solid #111;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
      width: 100%; }
  html body .l-footer {
    display: block;
    float: left;
    width: 100%; }
  html body .backgrounds div {
    display: none; }
    html body .backgrounds div img {
      position: fixed;
      display: block;
      height: auto;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      max-width: 100%;
      min-height: 100%;
      margin: auto;
      min-width: 1000px; }
    html body .backgrounds div.b1 {
      display: block; }
  html body.a2 .backgrounds .b2 {
    display: block; }
  html body.a3 .backgrounds .b3 {
    display: block; }
  html body.a4 .backgrounds .b4 {
    display: block; }

@media print {
  html body .backgrounds div {
    display: none; }
    html body .backgrounds div img {
      display: none; } }
