html body .l-page {
  display: block;
  float: left;
  width: 100%; }
  html body .l-page .l-header {
    display: block;
    float: left;
    width: 100%; }
    html body .l-page .l-header .l-header-first {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      margin: 0;
      width: 50%;
      float: left;
      margin-right: -100%;
      margin-left: 0%;
      clear: none;
      width: 50%;
      float: left;
      margin-right: -100%;
      margin-left: 0%;
      clear: none; }
    html body .l-page .l-header .l-header-second {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      margin: 0;
      width: 50%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      width: 50%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    html body .l-page .l-header .l-header-third {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      margin: 0;
      clear: both;
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      clear: both;
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none;
      clear: both; }
  html body .l-page .l-main {
    display: block;
    width: 100%;
    margin: auto;
    clear: both;
    max-width: 1020px; }
    html body .l-page .l-main p {
      font: 300 16px/16px Arial; }
    html body .l-page .l-main .l-content-header {
      display: block;
      float: left;
      width: 100%; }
    html body .l-page .l-main .l-content-center {
      display: block;
      float: left;
      width: 100%;
      overflow: hidden; }
      html body .l-page .l-main .l-content-center .l-region--content-left {
        display: block;
        float: left;
        width: 100%;
        padding-bottom: 2000px;
        margin-bottom: -2000px;
        width: 50%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 0%; }
      html body .l-page .l-main .l-content-center .l-region--content-right {
        display: block;
        float: left;
        width: 100%;
        padding-bottom: 2000px;
        margin-bottom: -2000px;
        width: 50%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 0%; }
    html body .l-page .l-main .l-content-footer {
      display: block;
      float: left;
      width: 100%; }
      html body .l-page .l-main .l-content-footer .l-region--content--footer {
        display: block;
        float: left;
        width: 100%; }
  html body .l-page .l-footer {
    display: block;
    float: left;
    width: 100%; }
    html body .l-page .l-footer .l-footer-first .l-region--footer-first {
      display: block;
      float: left;
      width: 100%; }
    html body .l-page .l-footer .l-footer-second .l-region--footer-second {
      display: block;
      float: left;
      width: 100%; }

@media print {
  body.print-tablet {
    width: 45em !important; }
    body.print-tablet .l-page .l-header .l-header-first {
      width: 50%;
      float: left;
      margin-right: -100%;
      margin-left: 0%;
      clear: none; }
    body.print-tablet .l-page .l-header .l-header-second {
      width: 50%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    body.print-tablet .l-page .l-header .l-header-third {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    body.print-tablet .l-page .l-main .l-content-center {
      overflow: hidden; }
      body.print-tablet .l-page .l-main .l-content-center .l-region--content-left {
        padding-bottom: 2000px;
        margin-bottom: -2000px;
        width: 50%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 0%; }
      body.print-tablet .l-page .l-main .l-content-center .l-region--content-right {
        padding-bottom: 2000px;
        margin-bottom: -2000px;
        width: 50%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 0%; }

  body.print-desktop {
    width: 70em !important; }
    body.print-desktop .l-page .l-header .l-header-first {
      width: 50%;
      float: left;
      margin-right: -100%;
      margin-left: 0%;
      clear: none; }
    body.print-desktop .l-page .l-header .l-header-second {
      width: 50%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    body.print-desktop .l-page .l-header .l-header-third {
      width: 100%;
      float: right;
      margin-left: 0;
      margin-right: 0;
      clear: none; }
    body.print-desktop .l-page .l-main .l-content-center {
      overflow: hidden; }
      body.print-desktop .l-page .l-main .l-content-center .l-region--content-left {
        padding-bottom: 2000px;
        margin-bottom: -2000px;
        width: 50%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 0%; }
      body.print-desktop .l-page .l-main .l-content-center .l-region--content-right {
        padding-bottom: 2000px;
        margin-bottom: -2000px;
        width: 50%;
        clear: right;
        float: left;
        margin-left: 0;
        margin-right: 0%; } }
